/* - January 2023
   @All by Nguyễn Thái Sơn */
@font-face {
  font-family: RobotoVi;
  src: url(RobotoCondensed-Bold.ttf);
}
$icon-size: calc(10vw + 6rem);
@-webkit-keyframes icon-start {
  0% {
    padding: 2rem;
    width: 1%;
    margin-top: 90%;
    margin-right: 90%;
    rotate: -60deg;
  }

  33% {
    width: 120%;
    margin: 0;
    rotate: -10deg;
  }

  66% {
    width: 120%;
    margin: 0;
    rotate: 10deg;
  }

  100% {
    // border-style: none;
    padding: 0px;
    width: 100%;
    margin: 0;
    rotate: 0deg;
    /* box-shadow: 0 0 0 #fff; */
  }
}
@-webkit-keyframes item-zoom {
  3.125% {
    width: calc($icon-size + 4rem);
  }

  6.25% {
    width: $icon-size;
  }

  100% {
    width: $icon-size;
  }
}
$init-shadow-color: blue, red, green, rgb(32, 31, 31);
$shadow-color: #8ea7e9, #ff8e9d, #81cd47, #746f7f;
@mixin icon-start($index) {
  -webkit-animation: icon-start 1s ease-in-out forwards,
    glow-start-#{$index} 2s ease 2s forwards,
    // icon-zoom 32s ease #{$index * 8}s infinite
;
  animation: icon-start 1s ease-in-out #{$index * 0.2}s forwards,
    glow-start-#{$index} 2s ease 2s forwards,
    // icon-zoom 32s ease #{$index * 8}s infinite
;

  @-webkit-keyframes glow-start-#{$index} {
    30% {
      box-shadow: 0 0 8rem nth($init-shadow-color, $index),
        inset 0 0 8rem nth($shadow-color, $index);
    }
    100% {
      @if ($index == 1 or $index == 4) {
        border-radius: 50%;
      } @else if ($index == 3) {
        border-radius: 10%;
      } @else {
        border-radius: 20%;
      }
      border-width: 0rem;
      padding: 0;
      box-shadow: 0 0 8rem nth($shadow-color, $index),
        inset 0 0 8rem nth($shadow-color, $index);
      animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s;
    }
  }
}
@mixin item-zoom($index) {
  animation: item-zoom 32s ease #{$index * 8}s infinite;
  -webkit-animation: item-zoom 32s ease #{$index * 8}s infinite;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    #fff2f266,
    #e5e0ff66,
    #8ea7e966,
    #7286d366
  );
}

@mixin h1-start {
  -webkit-animation: h1-start 0.8s ease forwards;
  -moz-animation: h1-start 0.8s ease forwards;
  animation: h1-start 0.8s ease forwards;
  @-webkit-keyframes h1-start {
    from {
      font-size: 98%;
      padding-top: 2px;
    }

    to {
      padding-top: 0;
      font-size: calc(6vw + 1rem);
    }
  }
}

h1 {
  margin-top: calc(1vw + 1rem);
  margin-bottom:  1rem;
  // font-size: calc(20vw + 1rem);
  font-family: RobotoVi;
  /* effect */
  color: #645cbb;
  @include h1-start;
}

h2 {
  font-size: 1.5rem;
  color: #50577a;
  margin: 0;
  font-family: RobotoVi;
}
.mailtext {
  display: none;
}

.grid-container {
  display: grid;
  margin: calc(2.5vw + 2rem) 0 10vw;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2.5rem 0rem;

  .grid-item {
    margin: auto;
    width: $icon-size;
    animation: zoom 32s ease-in-out infinite;
  }
  .icon {
    width: 0%;
  }
}

@for $index from 1 to 5 {
  .icon#{$index} {
    // $color: @debug list.nth($shadow-color, index-1)
    @include icon-start($index);
    // @include icon-zoom($index);
  }
  #item#{$index} {
    width: $icon-size, 4rem; 
    @include item-zoom($index);
  }
}
footer {
  text-align: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  * {
    font-family: RobotoVi;
    font-size: 1rem;
  }
}
@media  (min-width: 720px) {
  /* pc small width */
  body {
    overflow: auto;
  }
  h1 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .mailtext {
    display: inline;
    top: 1rem;
  }
  .grid-container {
    margin: calc(5vw + 1rem) 0 10vw;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: calc(10vw + 20px) 5vw;

    @for $index from 1 to 5 {
      
      #item#{$index} {
        width: calc(12vw + 2rem);
      }
    }
  }
  @-webkit-keyframes item-zoom {
  }
  footer {
    * {
      font-size: 1rem;
    }
  }
  /* pc large width */
 
}
