body {
  margin: 0;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #D9F8C4a0, #F9F9C5a0, #FAD9A1a0, #FFB562a0);
}

h1 {
  margin-top: calc(1vw + 2.5rem);
  margin-bottom: calc(2vw + 4rem);
  font-size: calc(3vw + 5rem);
  font-family: RobotoVi;

  /* effect */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom, #ff0000, #E0144C, #913175, #775ADA, #686EE2);

  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

h2 {
  font-size: 4rem;
  margin: 0;
  font-family: RobotoVi;
}

.mailtext {
  display: none;
}

.grid-item {
  margin: auto;
  width: calc(20vw + 8rem);
  /* background-image: radial-gradient(#AEE2FF, #B9F3FC, rgba(255, 255, 255, 0) 60%); */
}

.grid-container {
  display: grid;
  margin: calc(2.5vw + 8rem) 0 10vw;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: calc(10vw + 20px) 5vw;
}


footer {
  text-align: center;
  position: fixed;
  width: 100vw;
  bottom: calc(1vw + 0.5rem);
}

footer>* {
  font-size: 2.5rem;
  font-family: RobotoVi;
}
/* RESPONSIVE FOR PC SCREEN */
@media only screen and (min-device-width: 720px) {
  /* pc small width */
  h1 {
    font-size: calc(3vw + 2rem);
    margin-top: calc(1vw + 2.5rem);
    margin-bottom: calc(1vw + 1.5rem);
  }

  h2 {
    font-size: 2rem;
  }

  .mailtext {
    display:inline;
    top: 1rem;
  }

  footer>* {
    font-size: 1rem;
  }
  .grid-item {
    margin: auto;
    width: calc(20vw + 1rem);
    /* background-image: radial-gradient(#AEE2FF, #B9F3FC, rgba(255, 255, 255, 0) 60%); */
  }
/* pc large width */
  @media only screen and (min-width: 720px) {
    .grid-container {
      display: grid;
      margin: calc(5vw + 2rem) 0 10vw;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
      gap: calc(10vw + 20px) 5vw;
    }

    .grid-item {
      margin: auto;
      width: calc(10vw + 2rem);
    }
  }

}

/* KEYFRAME */
@-webkit-keyframes glow {
  from {
    text-shadow:

      0 0 50px #FFD495a0,
      0 0 60px #FAAB78a0,
      0 0 70px #DC3535a0;
  }

  to {
    text-shadow:

      0 0 60px #379237a0,
      0 0 70px #82CD47a0,
      0 0 80px #54B435a0;
  }
}

/* FONT  */
@font-face {
  font-family: RobotoVi;
  src: url(RobotoCondensed-Bold.ttf);
}