.home-tag {
  background-color: #C6EBC5;
  height: 4em;
  line-height: 4em;
  width: 100%;
  border-radius: 0.5em;
  position: fixed;
  top:0;
  left: 0;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.2em;
}

.home-icon{
  position: absolute;
  height: 4em;
  margin: auto auto auto 0.5em;

}

.home-button {
  position: absolute;
  vertical-align: middle;
  left: 6em;

}

.avatar {
  position: absolute;
  height: 3em;
  border-radius: 50%;
  top: 0.5em;
  right: 1em;

}
