/* 
  - January 2023
  @All by Nguyễn Thái Sơn 
*/
body {
  margin: 0;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #FFF2F266, #E5E0FF66, #8EA7E966, #7286D366);
 
}

h1 {
  margin-top: calc(1vw + 2.5rem);
  margin-bottom: calc(2vw + 4rem);
  font-size: calc(3vw + 5rem);
  font-family: RobotoVi;

  /* effect */
  color:#645CBB;

  
  -webkit-animation: glow 1.8s ease-in-out infinite alternate;
  -moz-animation: glow 1.8s ease-in-out infinite alternate;
  animation: glow 1.8s ease-in-out infinite alternate, 
            h1-start 0.8s ease forwards;
}

@-webkit-keyframes h1-start {
  from {
    font-size: 98%;
    padding-top: 2px;
    /* margin-top: 98%; */
  }

  to {
    padding-top:0;
    /* margin-top: calc(1vw + 2.5rem); */
    font-size: calc(3vw + 5rem);
  }
}

h2 {
  font-size: 4rem;
  color: #50577A;
  margin: 0;
  font-family: RobotoVi;
}

.mailtext {
  display: none;
}

.grid-item {
  margin: auto;
  width: calc(20vw + 8rem);
  animation: zoom 32s ease-in-out infinite;

}

#item1 {

  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

#item2 {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}

#item3 {
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}

#item4 {
  -webkit-animation-delay: 32s;
  animation-delay: 32s;
}

/* ZOOM FOR ITEMS  */
@-webkit-keyframes zoom {
  3.125% {
    width: calc(20vw + 12rem);
  }

  6.25% {
    width: calc(20vw + 8rem);
  }

  100% {
    width: calc(20vw + 8rem);
  }
}

.icon {
  width: 0%;
  /* animation */
  transition: ease;
  animation: start 0.8s ease-out forwards;
  -webkit-animation: start 0.8s ease-out forwards;
  -moz-animation: start 0.8s ease-out forwards;
}

.icon1 {
  border-radius: 50%;
  box-shadow:
    0 0 8rem #8EA7E9,
    inset 0 0 8rem #BFACE2aa;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.icon2 {
  border-radius: 20%;
  box-shadow:
   0 0 8rem #FF8E9Eaa;
    /* inset 0 0 8rem #F9B5D0aa; */
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.icon3 {
  border-radius: 10%;
  box-shadow:

     inset 
    0 0 8rem #CDDEFF;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

.icon4 {
  border-radius: 50%;
  box-shadow:
    /* inset  */
    0 0 8rem #BFACE2aa;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

@-webkit-keyframes start {
  0% {
    border-radius: 0%;
    padding: 10rem;
    border-width:0.5rem;
    border-color: #686EE2aa;
    width: 1%;
    /* phóng to từ dưới lên */
    margin-top: 90%;
    margin-right: 90%;
    rotate: -60deg;
  }

  33% {
    width: 120%;
    margin: 0;
    rotate: -10deg;
  }

  66% {
    width: 120%;
    margin: 0;
    rotate: 10deg;
  }

  100% {
    border-style:none;
    padding:0px;
    width: 100%;
    margin: 0;
    rotate: 0deg;
    /* box-shadow: 0 0 0 #fff; */
  }
}

.grid-container {
  display: grid;
  margin: calc(2.5vw + 8rem) 0 10vw;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: calc(10vw + 20px) 5vw;
}

.decor {
  margin: 0 auto auto;
  width: 10vh;
  height: 4vh;
  
}

footer {
  text-align: center;
  position: fixed;
  width: 100vw;
  bottom: calc(1vw + 0.5rem);
}

footer>* {
  font-size: 2.5rem;
  font-family: RobotoVi;
}

/* RESPONSIVE FOR PC SCREEN */
@media only screen and (min-device-width: 720px) {

  /* pc small width */
  h1 {
    font-size: calc(3vw + 2rem);
    margin-top: calc(1vw + 2.5rem);
    margin-bottom: calc(1vw + 1.5rem);
  }

  h2 {
    font-size: 2rem;
  }

  .mailtext {
    display: inline;
    top: 1rem;
  }

  footer>* {
    font-size: 1rem;
  }

  .grid-item {
    margin: auto;
    width: calc(20vw + 1rem);
    animation: none;
    /* background-image: radial-gradient(#AEE2FF, #B9F3FC, rgba(255, 255, 255, 0) 60%); */
  }

  /* pc large width */
  @media only screen and (min-width: 720px) {
    .grid-container {
      display: grid;
      margin: calc(5vw + 2rem) 0 10vw;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
      gap: calc(10vw + 20px) 5vw;
    }

    .grid-item {
      margin: auto;
      width: calc(10vw + 2rem);
    }
  }

}

/* KEYFRAME */
@-webkit-keyframes glow {
  from {
    text-shadow:

      0 0 20px #FFD49566,
      0 0 30px #FAAB7866,
      0 0 40px #DC353566;
  }

  to {
    text-shadow:

      0 0 20px #37923766,
      0 0 30px #82CD4766,
      0 0 40px #54B43566;
  }
}

/* FONT  */
@font-face {
  font-family: RobotoVi;
  src: url(RobotoCondensed-Bold.ttf);
}